---
layout: default
title: Home
---

<header class="clean" style="height: 350px; background-image: url({{ site.cover }});">
	{% include top.html %}
	<div id="home-title">
		<a href="{{ site.url }}">
      <div class="site-icon-page">
      <h1>{{ site.title}}</h1>
      <div class="title-description">{{ site.description }}</div>
      </div>
		</a>
	</div>
</header>
<div id="post-list">

{% assign sorted_pages = (site.posts | where: "category", "candidate" | sort: 'number') %}
{% for page in sorted_pages %}
		   <img src="{{ page.image }}" class="candidate" title="{{ page.title }}">
         <div class="post-text">
         <div class="circle-text">{{ page.number }}.</div> místo na kandidátce
			<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
			<p class="post-description">{{ page.content | strip_html | truncatewords: 50 }}</p>
		</div>
		<br>
{% endfor %}

</div>

{% include foot.html %}


