<footer class="clean" style="background-image: url({{ site.cover }}); background-position: bottom; height: auto;">
<a href="http://www.pirati.cz"><img src="assets/images/pirati.gif" title="Česká pirátská strana" alt="Piráti" class="logo-strany"></a>
<a href="http://www.kdu.cz"><img src="assets/images/kdu-csl.gif" title="KDU-ČSL" alt="KDU-ČSL" class="logo-strany"></a>
<a href="http://www.zeleni.cz"><img src="assets/images/zeleni.gif" title="Strana zelených" alt="SZ" class="logo-strany"></a>

	<div class="copyright"><a href="http://www.gnu.org/licenses/agpl.html"><img src="assets/images/gnu-agpl-v3.png" class="logo-strany" style="float:left;height:20px;"></a><span style="position:relative;top:5px;">{{ site.copyright.author }}, {{ site.time | date: "%Y" }}. <br/> <a href="{{ site.copyright.type_url }}" target="_blank">{{ site.copyright.type_title }}</a>.</span></div>
</footer>
